body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #FF77FF, #FFB347, #FFE873);
}

canvas.webgl {
    display: block;

}

html,
body {
    width: 100%;
    height: 100%;
}